<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="css/productCreate.css" />
  <link rel="stylesheet" href="css/index.css" />
  <title>Editar Producto - Selfty Shirt</title>
</head>

<%- include('../partials/header') %>
<body>
  <main>
    <div class="create">
      <h3>Datos del producto</h3>
      <h2>Modificación del producto</h2>
      <h3>Datos a modificar</h3>
      <div class="field-wrap">
        <label for="Category">Categoria:</label>
        <input type="category" name="category" placeholder="categoria" />
      </div>
      <div class="field-wrap">
        <label for="name">Nombre del producto:</label>
        <input type="name" name="name" placeholder="Ejemplo: Remera negra" />
      </div>
      <div class="field-wrap">
        <label for="Description">Descripción:</label>
        <textarea name="description" id="description"></textarea>
      </div>
      <div class="field-wrap">
        <label for="color">Color:</label>
        <input type="color" name="color" placeholder="Ejemplo: Rojo" />
      </div>
      <div class="field-wrap">
        <label for="size">Talle:</label>
        <div class="talle">
          <label
            ><input type="checkbox" name="xsmall" placeholder="" /> XS
          </label>
          <label
            ><input type="checkbox" name="small" placeholder="" /> S
          </label>
          <label
            ><input type="checkbox" name="medium" placeholder="" /> M
          </label>
          <label
            ><input type="checkbox" name="xsmall" placeholder="" /> L
          </label>
          <label
            ><input type="checkbox" name="small" placeholder="" /> XL
          </label>
          <label
            ><input type="checkbox" name="medium" placeholder="" /> XXL
          </label>
        </div>
      </div>
      <div class="field-wrap">
        <label for="price">Precio:</label>
        <input type="PRICE" name="price" placeholder="Ejemplo: $1999" />
      </div>
      <p>Caracteristicas:</p>
      <div class="caracteristicas">
        <label
          ><input type="checkbox" name="model" placeholder="" /> Modelo classic
        </label>
        <label
          ><input type="checkbox" name="suits" placeholder="" /> Unisex
        </label>
        <label
          ><input type="checkbox" name="length" placeholder="" /> Manga corta
        </label>
      </div>
      <div class="field-wrap">
        <button type="submit">Guardar Cambios</button>
        <div class="field-wrap">
          <button type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>
