<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
  <%- include('../partials/head', {title: 'Crear producto'}) %>
  <link rel="stylesheet" href="/css/productCreate.css" />

  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="col-11 col-lg-8">
        <h2 class="products-title">Formulario de creación de productos</h2>
        <form action="/products/" method="POST" enctype="multipart/form-data">
          <div class="row product-detail">
            <div class="col-12 col-md-10">
              <label for="name" class="form-label">Nombre del producto:</label>
              <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input" />
              <small id="nameHelpBlock" class="form-text text-muted"> Por ejemplo: Remera Negra </small>
            </div>

            <div class="col-12 col-md-10">
              <label for="price" class="form-label">Precio del producto:</label>
              <input type="number" id="price" pattern="[0-9]" name="price" placeholder="Ej: 5100" class="form-input" />
              <small id="priceHelpBlock" class="form-text text-muted"> Por ejemplo: $2000 (Solo ingresar la cantidad sin el $)</small>
            </div>
            <div class="col-12 col-md-10">
              <label for="discount" class="form-label">Descuento:</label>
              <input type="number" id="discount" pattern="[0-9]" name="discount" placeholder="Ej: 15" class="form-input" />
              <small id="discountHelpBlock" class="form-text text-muted"> Por ejemplo: 25% (Solo ingresar la cantidad sin el %) </small>
            </div>

            <div class="col-12 col-md-10">
              <label for="stockquantity" class="form-label">Cantidad:</label>
              <input type="number" id="stockquantity" pattern="[0-9]" name="stockquantity" placeholder="Ej: 100" class="form-input" />
              <small id="discountHelpBlock" class="form-text text-muted"> Ingresar la cantidad de productos que hay en stock </small>
            </div>
            <div class="col-12 col-md-10">
              <label for="category" class="form-label">Categoría:</label>
              <select name="category" id="category" class="form-input">
                <option value="1">Remeras</option>
                <option value="2">Buzos</option>
                <option value="3">Medias</option>
                <option value="4">Pantalones</option>
                <option value="5">Gorras</option>
              </select>
            </div>
            <div class="col-12 col-md-10">
              <label for="description" class="form-label">Descripción:</label>
              <textarea name="description" id="description" class="form-input"></textarea>
              <small id="discountHelpBlock" class="form-text text-muted"> Ejemplo: Remera con tela de primera calidad importada, Algodón 100% jersey 24/1 de textura suave y liviana </small>
            </div>
            <div class="col-12 col-md-10">
              <label for="imageproduct" class="form-label">Imagen:</label>
              <input type="file" name="imageproduct" id="imageproduct" class="form-input" />
              <small id="imageHelpBlock" class="form-text text-muted"> Imagen de hasta 2 mb </small>
            </div>
            <div class="button-green-class">
              <button type="submit" class="button">Guardar producto <i class="fa-solid fa-floppy-disk"></i></button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
