<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/detail.css" />
    <title>Selfty Shirt</title>
    
  </head>

  <body>
    <header>
      <div class="box">
        <div class="currency">AR$</div>
        <div class="offer">APROVECHA NUESTRAS OFERTAS HASTA %50 OFF!</div>
        <div class="support">Soporte</div>
      </div>

      <div id="div_top_hypers">
        <ul id="ul_top_hypers">
          <div class="logophoto">
            <img src="images/logo.png" alt="" class="pic" />
          </div>
          <li><a href="" class="a_top_hypers"> Tienda</a></li>
          <li><a href="" class="a_top_hypers"> Reviews</a></li>
          <li><a href="" class="a_top_hypers"> Acerca de</a></li>
          <li>
            <a href="" class="a_top_hypers"> Cart</a>
            <i class="fas fa-shopping-bag"></i>
          </li>
          <li>
            <a href="" class="a_top_hypers"> Login</a>
            <i class="fas fa-sign-in-alt"></i>
          </li>
        </ul>
      </div>
    </header>

    <main>
        <div class="cont-detail-product">
            <div class="img-product">
            <img src="images/image1.png" alt="" class="img-product"/>
            <img src="images/image1.png" alt="" class="img-product"/>
            <img src="images/image1.png" alt="" class="img-product"/>
            <img src="images/image1.png" alt="" class="img-product"/>
            </div>

            <div class="detail">
                <div class="detail-product">
                    <h3>Remera de hombre</h3>
                    <p>$1399</p>
                    <button>Ver más detalles</button>
                    <p>Productos oficiales, fabricados y confeccionados 100% en Argentina. <br>
                    Bajo condiciones de trabajo responsables y de respeto.
                    </p>
                </div>

                <div class="color-product">
                    <h5>Color</h5>
                    <span class="dot" style="background-color:red"></span>
                    <span class="dot" style="background-color:blue"></span>
                    <span class="dot" style="background-color:black"></span>
                </div>

                <div class="size">
                    <h5>Talle</h5>
                    <div class="detail-size">
                        <ul>
                            <li class="detail-size">XS</li>
                            <li class="detail-size">S</li>
                            <li class="detail-size">M</li>
                            <li class="detail-size">L</li>
                            <li class="detail-size">XL</li>
                            <li class="detail-size">XXL</li>
                            <li class="detail-size">3XL</li>
                        </ul>
                    </div>
                </div>
                
                <h5>Cantidad</h5>
                <div class="shop">
                    <div>
                        <button type="button">- 2 +</button>
                        <button type="button" class="grande">Agregar al carrito -$1399</button>
                    </div>
                </div>

                <a href="">Envío gratis superando los $10000</a>
            </div>

        </div>
    </main>
  </body>
</html>
