<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link rel="stylesheet" href="css/index.css" />
  <title>Selfty Shirt</title>
</head>

<body>
  <header>
    <div class="flex-container">
      <div>AR$</div>
      <div>APROVECHA NUESTRAS OFERTAS HASTA %50 OFF!</div>
      <div>Soporte</div>
    </div>

    <div class="flex-navbar">
      <div>Logo</div>
      <div><a href="#">Tienda</a></div>
      <div><a href="#">Reviews</a></div>
      <div><a href="#">Acerca de</a></div>
      <div><a href="#">Tienda</a></div>
      <div class="input">Buscar</div>
      <div><a href="#">Carrito</a></div>
      <div><a href="#">Login</a></div>
    </div>
  </header>
</body>

</html>