<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link rel="stylesheet" href="css/index.css" />
  <title>Selfty Shirt</title>
</head>

<body>
  <header>
    <div class="box">
      <div class="currency">AR$</div>
      <div class="offer">APROVECHA NUESTRAS OFERTAS HASTA %50 OFF!</div>
      <div class="support">Soporte</div>
    </div>

    <div class="navbar">
      <ul>
        Logo
        <li><a href="#">Tienda</a></li>

        <li><a href="#">Reviews</a></li>

        <li><a href="#">Acerca de</a></li>

        <li><a href="#">Tienda</a></li>

        <div class="input">Buscar</div>

        <li><a href="#">Carrito</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </header>
</body>

</html>