<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/productCart.css" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Carrito de compras - Selfty Shirt</title>
  </head>

  <body>

    <body>
      <header>
        <div class="box">
          <div class="currency">  <i class="fas fa-coins"></i>
            <select name="currency-select">
            <!-- Opciones de la lista -->
            <option value="ARS" selected>AR$</option> <!-- Opción por defecto -->
            <option value="USD">U$D</option>
            <option value="EUR">€UR</option>
          </select>
        </div>
          <div class="offer">APROVECHA NUESTRAS OFERTAS HASTA %50 OFF!</div>
          <div class="support">Soporte </div>
        </div>
        <div id="div_top_hypers">
          <ul id="ul_top_hypers">
            <div class="logophoto">
              <a href="/" class="a_top_hypers"><img src="images/logo.png" alt="" class="pic" /></a>
            </div>
            <li><a href="/detail" class="a_top_hypers"> Tienda</a></li>
            <li><a href="" class="a_top_hypers"> Reviews</a></li>
            <li><a href="" class="a_top_hypers"> Acerca de</a></li>
  
            <div class="buscar">
              <div class="btn"><i class="fas fa-search icon"></i></div>
              <input type="text" placeholder="Busqueda de productos" required>
            </div>
            <li>
              <a href="/cart" class="a_top_hypers"> Cart</a>
              <i class="fas fa-shopping-bag"></i>
            </li>
            <li>
              <a href="/login" class="a_top_hypers"> Login</a>
              <i class="fas fa-sign-in-alt"></i>
            </li>
          </ul>
        </div>
      </header>

    <div class="carrito-ctn-grande">
      <div class="carrito-ctn">
        <div class="carrito-items">Carrito de compras
          <i class="fas fa-shopping-cart"></i>
          <h2>Remera Negra</h2>
        </div>

        <div class="carrito-info-pedido">Informacion del pedido</div>
      </div>

      <div class="orden-de-compra">
        <h2>Orden de compra</h2><br />
        <br />
        <input type="text" name="cupon" placeholder="Cupon de descuento" />
        <br />
        <br />
        <div class="subtotal-ctn">
          Subtotal <br>
          $4998
        </div>
        <div class="envio-ctn">
          Envio <br>
          $500
        </div>
        <br>
        <hr>
        <div class="total-ctn">
          Total <br>
          5498
        </div>
        <br>
        <br>
        <input type="submit" value="Finalizar Compra" />
      </div>
    </div>
  </body>
</html>
