/*
  =========================================================================================
                                    Social Icons
  =========================================================================================
  */

.round-btn {
	display: inline;
	height: 40px;
	width: 40px;
	background: #fff;
	border-radius: 50%;
	float: left;
	margin: 15px 8px;
	box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);
	border: 1px solid; /*border: 1px solid #622657;*/
}
.round-btn a {
	display: block !important;
	padding: 7px 12px;
	font-size: 18px;
	border-radius: 50%;
}
.round-btn .icon {
	padding: 3px;
}
.round-btn .icon img {
	height: 24px;
	width: 32px;
	margin-top: 6px;
}
.btn-facebook a {
	color: #3b5998;
	padding: 8px 13px;
}
.btn-linkedin a {
	color: #007bb6;
}
.btn-twitter a {
	color: #1c9deb;
}
.btn-instagram a {
	color: #dd3f5c;
}
.btn-whatsapp a {
	color: #155e54;
}
.btn-envelop a {
	color: #d6403a;
	font-size: 15px;
	padding: 9px 12px;
}
.standard_header .standard_social_links {
	margin-left: 1rem;
}

/*
    =========================================================================================
                                      footer
    =========================================================================================
    */

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-wrap {
	padding-top: 43px;
	background-size: cover;
}

.footer-wrap h3 {
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.footer-wrap p {
	font-size: 13px;
	line-height: 24px;
	color: #b3b3b3;
	margin-top: 15px;
}

.footer-wrap p a {
	color: #fff;
	text-decoration: underline;
	font-style: italic;
}

.footer-wrap p a:hover {
	text-decoration: none;
	color: #ff7800;
}

.footer-links li a {
	font-size: 13px;
	line-height: 30px;
	color: #ccc;
	text-decoration: none;
}

.footer-links li:before {
	content: '\f105';
	font-family: 'FontAwesome';
	padding-right: 10px;
	color: #ccc;
}

.footer-category li a {
	font-size: 13px;
	line-height: 30px;
	color: #ccc;
	text-decoration: none;
}

.footer-category li:before {
	content: '\f105';
	font-family: 'FontAwesome';
	padding-right: 10px;
	color: #b3b3b3;
}

.address {
	color: #b3b3b3;
	font-size: 14px;
	position: relative;
	padding-left: 30px;
	line-height: 30px;
}

.address:before {
	content: '\f277';
	font-family: 'FontAwesome';
	position: absolute;
	top: 0;
	left: 0;
}

.info a {
	color: #b3b3b3;
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
}

.fa-phone:before {
	content: '\f095';
}

.info a {
	color: #b3b3b3;
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
}

.fa-fax:before {
	content: '\f1ac';
}

.copyright {
	border-top: 1px solid #111;
	font-size: 14px;
	color: #ccc;
	padding-top: 15px;
	text-align: center;
	padding-bottom: 15px;
	background: #222;
}
footer .second_class {
	border-bottom: 1px solid #444;
	padding-bottom: 25px;
}
footer .first_class {
	padding-bottom: 21px;
	border-bottom: 1px solid #444;
}
footer .first_class p,
footer .first_class h3 {
	margin: 0 0;
}
footer {
	background: #333;
}

footer .newsletter input[type='text'] {
	width: 100%;
	background: #fff;
	color: #333;
	border: 1px solid #222;
	padding: 14px 20px;
	border-radius: 50px;
}

.newsletter {
	display: flex;
	flex-direction: row;
	max-height: 3rem;
	margin-top: 12px;
}

.newsletter .btn-outline-dark {
	border-radius: 0.75rem;
	margin-left: 0.2rem;
	background-color: rgba(255, 120, 0, 0.7);
}

footer .second_class_bdr {
	padding-top: 25px;
	border-top: 1px solid #222;
}

footer .btn-facebook a {
	padding: 6px 14px !important;
}

footer .btn-envelop a {
	color: #d6403a;
	font-size: 15px;
	padding: 12px 12px;
}

footer .round-btn a {
	padding: 6px 12px;
}

footer .round-btn {
	box-shadow: 2px 2px 5px 0px #222 !important;
}

footer .round-btn {
	margin: 15px 4px;
}

footer dl,
ol,
ul {
	padding-left: 5px;
}
footer li {
	list-style: none;
}

footer .row {
	/* fix white space on right side */
	--bs-gutter-x: 0;
}

.footer-logo img {
	display: flex;
	max-width: 8rem;
	flex-wrap: nowrap;
}

@media (max-width: 768px) {
	.footer-wrap h3 {
		margin-top: 27px;
	}

	footer .round-btn {
		margin: 15px 4px;
	}
}
@media (max-width: 320px) {
	.copyright {
		font-size: 13px;
	}
}
