.box {
	height: 50px;
	flex-direction: row;
	background-color: black;
	color: #eeeeee;
	display: flex;
	justify-content: space-around;
	font-size: larger;
	margin: auto;
	padding-top: 12px;
}

.datos-registro {
	text-align: center;
}

.datos-registro > h3 {
	padding-top: 10%;
	text-align: left;
	font-size: 20px;
	color: grey;
}

.register {
	flex-direction: column;
	width: calc(100% - 20rem);
	color: black;
	margin: auto;
	padding-top: 5%;
	border: 1.3px solid #222831;
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10%;
	background-color: var(--sh-background);
}

.register > form {
	display: flex;
	height: 40%;
	width: 70%;
	flex-direction: column;
	padding-top: 3px;
}

input[type='submit'] {
	background-color: black;
	border: 2px black solid;
	width: 25%;
	color: white;
	padding: 15px 20%;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	font-weight: normal;
	display: flex;
	justify-content: space-around;
	margin: auto;
}

a:visited {
	color: black;
	display: none;
	text-decoration: none;
}

a {
	text-decoration: none;
}

.footer {
	list-style-type: none;
	border-top: 1px solid #222831;
	padding-bottom: 10px;
	height: 40px;
}

.redes-container {
	font-size: 20px;
	height: 20%;
	width: 90%;
	padding-top: 20px;
	padding-left: 20px;
}

.redes-container.img {
	max-width: 10%;
	max-height: 10%;
	display: block; /* remove extra space below image */
}

.socialmedia {
	position: absolute;
	width: 50px;
	display: flex;
	flex-direction: row;
}

.tienda {
	height: 20%;
	padding-left: 50%;
	font-size: medium;
	color: grey;
	text-align: center;
}

.ayuda {
	height: 20%;
	padding-left: 70%;
	font-size: medium;
	color: grey;
	text-align: center;
}

.aboutus {
	height: 20%;
	padding-left: 90%;
	font-size: medium;
	color: grey;
	text-align: center;
}

.recordar-check {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.google_button {
	cursor: pointer;
	border: 2px solid #e5e5e5;
	border-radius: 5px;
	margin-top: 25px;
	background: #fff;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.google_button img {
	margin-right: 15px;
	width: 25px;
	height: 25px;
}

.google_button p {
	color: #616161;
	font-weight: bold;
}

.recordar-check input {
	display: initial;
	width: auto;
}
