main {
	background-color: var(--sh-background);
}

.wrapper {
	display: grid;
	gap: 10px;
	grid-template-columns: 0.6fr 1fr 1fr 1fr;
	/* grid-template-rows: 0.2fr 1fr 1fr 1fr; */
	background-color: #fff;
	color: #444;
	justify-content: center;
	margin: 4em 8em 4em 8em;
	background-color: var(--sh-background);
	/* grid-template-areas: ; */
}

.box c {
	/*   background-color: #444;
  color: black; */
	border-radius: 5px;
	padding: 20px;
	font-size: 15px;
	background-color: var(--sh-background);
}

.box {
	border-radius: 4px;
}

.product-box :hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
	background-color: none;
}

.a {
	grid-column: 1 / 2;
}

.b {
	grid-column: 4 /5;
}

.c {
	grid-column: 1;
	grid-row: 2 / 4;
}

.d {
	grid-column: 2 / 5;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat (3, 1fr);
	grid-gap: 1em;
	grid-auto-flow: row;
}

.e {
	grid-row: 1;
	grid-column: 1;
	border: 2px solid black;
	box-shadow: 5px 10px #888888;
}

.f {
	grid-row: 1;
	grid-column: 2;
	border: 2px solid black;
}

.g {
	grid-row: 1;
	grid-column: 3;
	border: 2px solid black;
}

.h {
	grid-row: 2;
	grid-column: 1;
	border: 2px solid black;
}

.i {
	grid-row: 2;
	grid-column: 2;
	border: 2px solid black;
}

.j {
	grid-row: 2;
	grid-column: 3;
	border: 2px solid black;
}

.form-control {
	font-family: system-ui, sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	place-content: center;
}

/*CHECKBOX STYLE */
input[type='checkbox'] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: #fff;
	/* Not removed via appearance */
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	gap: 1vh;
	display: grid;
	place-content: center;
	margin-right: 0.4em;
	margin-top: 0.1em;
}

input[type='checkbox']::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em black;
	display: grid;
	place-content: center;
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked::before {
	transform: scale(1);
	display: grid;
	place-content: center;
}

.img-product {
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}

.box-img {
	width: 50%;
	border: 5px solid black;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.item-image {
	place-self: center center;
	justify-content: center;
	display: flex;
}

.item-name {
	width: 100%;
	height: 100%;
	text-align: start;
	font-weight: bolder;
}

.item-price {
	text-align: end;
	color: cornflowerblue;
}

.name-price-bottom {
	display: flex;
	flex-direction: row;
	-ms-flex-item-align: center;
	font-size: 2.4vh;
	padding-top: 1em;
}

.categorias label {
	display: flex;
	flex-direction: row;
	padding: 0.7rem;
}

.talle label {
	display: flex;
	flex-direction: row;
	padding: 0.7rem;
	text-align: end;
}

#img {
	height: auto;
	width: auto;
}

.products-top-bar {
	background-color: black;
	color: white;
	height: 20%;
	padding: 2em;
}

.products-top-bar h2,
.products-top-bar p {
	font-size: 2em;
	background-color: black;
	padding: 0.2em;
	width: 50%;
}
