input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.create {
	text-align: center;
	display: flex;
	flex-direction: column;
	max-width: 60%;
}

.field-wrap {
	padding-top: 1.5em;
}

main input {
	width: 60%;
	font-size: 20px;
}

.talle label,
.caracteristicas label {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

main > :only-child {
	padding: 2.5rem;
	display: flex;
	/*! align-content: center; */
	/*! align-items: center; */
	flex-direction: column;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

textarea {
	resize: none;
	width: 100%;
	font-size: 16px;
}

.create label description textarea {
	height: 30em;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-detail {
	display: flex;
	flex-direction: column;
	padding: 2rem 0 2rem 0;
	align-content: center;
	align-items: center;
}

.products-title {
	padding: 1.5rem 0 0 0;
	font-weight: large;
}

div.col-12:nth-child(7) > label:nth-child(1) {
	align-content: center;
	display: flex;
}

.col-12 {
	margin-top: 1.2em;
}

.text-muted {
	--bs-text-opacity: 1;
	color: #6c757d !important;
	align-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
}

#discount,
#stockquantity,
#price {
	width: 30%;
}

.col-lg-8 {
	border: 1.5px black solid;
	margin: 1.5em;
	background: rgba(181, 241, 189, 0.1);
	border-radius: 6px;
}

.button-green-class {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding-top: 4rem;
}
.button {
	background-color: #13aa52;
	border: 1px solid #13aa52;
	width: 70%;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	outline: 0;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	height: 4em;
}

.button:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
	transform: translateY(-2px);
}
