.profile-box {
	display: flex;
	align-content: center;
	align-items: center;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1980' height='560' preserveAspectRatio='none' viewBox='0 0 1980 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1120%26quot%3b)' fill='none'%3e%3crect width='1980' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M519.4736792395873 226.2417610789674L411.920730721542 276.39452463008223 462.07349427265683 383.9474731481276 569.6264427907022 333.79470959701274z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M745.2012103610294 245.40068632045094L790.8121949782283 137.94794030247212 683.3594489602494 92.33695568527324 637.7484643430506 199.78970170325206z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1743.275827207155 198.66225730293144L1847.8776615792146 280.386167004058 1929.6015712803412 175.78433263199832 1824.9997369082816 94.0604229308718z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1818.6576279794976 151.1033015336296L1798.4051468054308 6.999410184518638 1654.3012554563197 27.251891358585468 1674.5537366303868 171.35578270769645z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1340.8858918477974 613.9242506037194L1474.6393597584815 580.575765576199 1307.537406820277 480.1707826930352z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M705.0679423977198 202.45659802907096L712.3667385261737 341.7259246119603 851.636065109063 334.42712848350635 844.3372689806091 195.15780190061705z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1038.7480592683 657.067044029974L1122.158450405131 546.3777164025095 1011.4691227776665 462.96732526567854 928.0587316408355 573.656652893143z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M645.3173308361004 311.76065789735645L639.5058954837004 478.1783925859701 805.923630172314 483.98982793836996 811.735065524714 317.57209324975634z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M885.2368942789077 129.24504453757731L816.0700648612794 137.7376633166669 863.392407738728 237.2415980535646z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M803.478897585609 54.56032899883343L830.5112789934163 162.98128893733556 938.9322389319184 135.9489075295283 911.8998575241112 27.52794759102617z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1527.7606966426345 71.94237471376677L1399.0406699508756-21.578198883781297 1434.2401230450864 200.6624014055257z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M913.2980470547341 50.96180498323051L878.1250510513947 138.0180249863597 965.1812710545239 173.1910209896991 1000.3542670578632 86.13480098656989z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M785.400114302829 407.6015308966062L675.8516397030974 513.3912631148049 781.6413719212961 622.9397377145366 891.1898465210278 517.1500054963378z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M585.7822881538137 214.3072921072892L607.4835340878486 38.94661272166434 464.2687124155167 96.80915660559165z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1154.7247295626494 222.25517065748258L1175.8632840878759 321.7042507477149 1254.1738096528818 201.11661613225607z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1245.3391321515353 556.4473251727941L1295.6036200509454 453.6386421868997 1195.7035702648047 458.87418194645653z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M139.47044915324918 353.07875793736633L222.89530596973384 491.92103545507143 361.7375834874389 408.49617863858674 278.31272667095425 269.65390112088164z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1120'%3e%3crect width='1980' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
	border: 1px solid rgb(3, 3, 3);
	border-radius: 5px;
	flex-direction: column;
	margin: 2rem 0 2rem 0;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

main {
	min-height: 40vh;
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}
.user-img {
	max-width: 100%;
	height: auto;
	border-radius: 3em;
}

#profile-name,
.profile-box > div:nth-child(1) > div:nth-child(2) {
	font-weight: 700;
	font-size: 3em;
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	align-self: center;
	margin-top: 2rem;
}

.user-img {
	width: 40%;
	height: auto;
	border-radius: 3em;
}

div.row:nth-child(2) {
	width: 100%;
}

div.row:nth-child(2) > div:nth-child(2),
div.col:nth-child(3) {
	align-items: center;
	display: flex;
	align-content: center;
	align-self: center;
	flex-direction: column;
}
