.listTable{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
}
.listTable table{
    text-align: center;
}
.listTable tr,
 tr td{
    text-align: center;
}

tr th{
    text-align: center;
}

th, td {
	border: 1px solid black;
	padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }

thead th {
  width: 25%;
}
