<%- include('./partials/head') %>
<head>
    <link rel="stylesheet" href="css/index.css" />
    <title>Selfty Shirt</title>
</head>

  <body>
    <%- include('./partials/header') %>
    <div class="content">
      <div class="frase">
        La personalidad, es el mejor <br />
        accesorio que puedes llevar.

        <div class="author">Roverto Cavalli</div>
      </div>

      <div class="button-container">
        <button type="button">VER MÁS</button>
      </div>

      <div class="cont-grande">
        <div class="pic-ctn">
          <img src="images/image1.png" alt="" class="pic" />
          <img src="images/image2.png" alt="" class="pic" />
          <img src="images/image3.png" alt="" class="pic" />
        </div>
      </div>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
