<footer class="footer">
    <div class="redes-container">
      <h2>Siguenos en nuestras redes</h2>
      Se el primero en enterarte de nuestro nuevos productos
    
    <div class="socialmedia">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
            alt=""
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg"
            alt=""
          />
    </div>
    
    <div class="tienda">
      <h3>Tienda</h3>
      <br />
      <li><a href="" class="a_top_hypers"> Remeras</a></li>
      <li><a href="" class="a_top_hypers"> Buzos</a></li>
      <li><a href="" class="a_top_hypers"> Medias</a></li>
      <li><a href="" class="a_top_hypers"> Gorras</a></li>
      <li><a href="" class="a_top_hypers"> Promo</a></li>
      <li><a href="" class="a_top_hypers"> Ofertas</a></li>
    </div>

    <div class="ayuda">
      <h3>Ayuda</h3>
      <br />
      <li><a href="" class="a_top_hypers"> Centro de ayuda</a></li>
      <li><a href="" class="a_top_hypers"> Estado de tu orden</a></li>
      <li><a href="" class="a_top_hypers"> Catalogo de talles</a></li>
      <li><a href="" class="a_top_hypers"> Contactanos</a></li>
    </div>

    <div class="aboutus">
      <h3>Acerca de</h3>
      <br />
      <li><a href="" class="a_top_hypers"> Nosotros</a></li>
      <li><a href="" class="a_top_hypers"> Terminos y condiciones</a></li>
      <li><a href="" class="a_top_hypers"> Tecnologia de Innovacion</a></li>
      <li><a href="" class="a_top_hypers"> Explora nuestras Reviews</a></li>
    </div>
  </footer>