<footer>
	<div class="footer-wrap">
		<div class="container first_class">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<h3>¡ENTERATE DE TODO!</h3>
					<p>Suscribite a nuestro newsletter y recibí ofertas exclusivas!</p>
				</div>
				<div class="col-md-4 col-sm-6">
					<form class="newsletter">
						<input type="text" placeholder="Ingrese su Correo Electronico" />
						<button class="btn btn-outline-dark" type="submit"><i class="fa fa-paper-plane"></i></button>
					</form>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="col-md-12">
						<div class="standard_social_links">
							<div>
								<li class="round-btn btn-facebook">
									<a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
								</li>
								<li class="round-btn btn-linkedin">
									<a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
								<li class="round-btn btn-twitter">
									<a href="https://www.twitter.com"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="round-btn btn-instagram">
									<a href="https://www.instagram.com"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="round-btn btn-whatsapp">
									<a href="https://www.whatsapp.com"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
								</li>
								<li class="round-btn btn-envelop">
									<a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
								</li>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-12"><h3 style="text-align: right">CONTACTANOS EN NUESTRAS REDES</h3></div>
				</div>
			</div>
		</div>
		<div class="second_class">
			<div class="container second_class_bdr">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="footer-logo"><img src="/images/logo-orange-blue.png"" alt="logo" /></div>
						<p>Selfty-Shirt es una marca Argentina de indumentaria unisex donde nuestros clientes eligen sus diseños preferidos. Descubrí todo lo nuevo que proponemos y renovate!</p>
					</div>
					<div class="col-md-2 col-sm-6">
						<h3>Acceso rapido</h3>
						<ul class="footer-links">
							<li><a href="/">Inicio</a></li>
							<li><a href="/aboutus">Sobre Nosotros</a></li>
							<li><a href="/contactform">Contactanos</a></li>
							<li><a href="/products" target="_blank">Explora nuestros diseños</a></li>
							<li><a href="/products" target="_blank">Ofertas</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<h3>Ayuda</h3>
						<ul class="footer-category">
							<li><a href="/help">Centro de ayuda</a></li>
							<li><a href="/orderstatus">Estado de orden</a></li>
							<li><a href="/traking">Seguimiento de pedido</a></li>
							<li><a href="/sizing">Catalogo de talles</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-3 col-sm-6">
						<h3>Acerca de</h3>
						<ul class="footer-links">
							<li><a href="/returnpolicy">Políticas de cambio</a></li>

							<li><a href="/returnproduct">Botón de arrepentimiento</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="container-fluid">
				<div class="copyright"> 2022 © Selfty Shirt | Todos los derechos reservados. </div>
			</div>
		</div>
	</div>
</footer>
		<!--footer end-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>

		<!-- Font Awesome 5 links-->
		<script src="https://kit.fontawesome.com/fddf5c0916.js" crossorigin="anonymous"></script>
	</div>
</footer>
