<header>
    <div class="box">
      <div class="currency">  <i class="fas fa-coins"></i>
        <select name="currency-select">
        <!-- Opciones de la lista -->
        <option value="ARS" selected>AR$</option> <!-- Opción por defecto -->
        <option value="USD">U$D</option>
        <option value="EUR">€UR</option>
      </select>
    </div>
      <div class="offer">APROVECHA NUESTRAS OFERTAS HASTA %50 OFF!</div>
      <div class="support">Soporte </div>
    </div>
    <div id="div_top_hypers">
      <ul id="ul_top_hypers">
        <div class="logophoto">
          <a href="/" class="a_top_hypers"><img src="images/logo.png" alt="" class="pic" /></a>
        </div>
        <li><a href="/detail" class="a_top_hypers"> Tienda</a></li>
        <li><a href="" class="a_top_hypers"> Reviews</a></li>
        <li><a href="" class="a_top_hypers"> Acerca de</a></li>

        <div class="buscar">
          <div class="btn"><i class="fas fa-search icon"></i></div>
          <input type="text" placeholder="Busqueda de productos" required>
        </div>
        <li>
          <a href="/cart" class="a_top_hypers"> Cart</a>
          <i class="fas fa-shopping-bag"></i>
        </li>
        <li>
          <a href="/login" class="a_top_hypers"> Login</a>
          <i class="fas fa-sign-in-alt"></i>
        </li>
      </ul>
    </div>
  </header>