<header>
	<div class="top-header">
		<div class="box-header">
			<div class="currency">
				<i class="fas fa-coins"></i>
				<select name="currency-select">
					<!-- Opciones de la lista -->
					<option value="ARS" selected>AR$</option>
					<!-- Opción por defecto -->
					<option value="USD">U$D</option>
					<option value="EUR">€UR</option>
				</select>
			</div>
			<div class="offer">APROVECHA NUESTRAS OFERTAS HASTA %50 OFF! <i class="fa-solid fa-tags" \></i> | ENVIO GRATIS EN COMPRAS SUPERIORES A $5000 <i class="fa-solid fa-truck-fast"></i></div>
			<div class="support">Soporte</div>
		</div>
	</div>

	<div class="bottom-header-container">
		<!-- Bottom Menu navbar-->
		<nav>
			<div id="navbar">
				<a href="/">
				<div id="logo"><img src="/images/logo-orange-blue.png" alt="SELFTY SHIRT"/></div></a>
				<div id="links">
				<a href="/products">Tienda</a>
				<a href="/#reviews">Reviews</a>
				<a href="/aboutus">Sobre Nosotros</a>
				<a href="/products/create">Vender</a>
				<% if (locals.userLocals.category == "admin"){ %> 
				<a href="users/list">Listado de usuarios</a>
				<% } %>
			</div>
				<div class="search-wrap">
					<form action="/search" method="GET" class="search">
					<div class="search">
					<input type="text" class="searchTerm" name="keywords" placeholder="Que estabas buscando?" class="search-form_input">
					<button type="submit" class="searchButton">
					  <i class="fa fa-search"></i>
				   </button>
					 </div>
					</form>


				</div>
				<div id="links">
					<div class="links-left">
					<a href="/products/cart">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
					<% if(locals.userLocals){ %>
            <a class="headerAvatar" aria-current="page" href="/users/profile/<%= locals.userLocals.id %> "><img src="/images/avatar/<%= locals.userLocals.avatar %>" class="rounded-circle" alt=""> <%= locals.userLocals.first_name %> <%= locals.userLocals.last_name %> </a>
						<form action="/users/logout" method="post">
            <button class="btn btn-dark mb-2" type="submit" >Cerrar Sesión</button>
          </form>
            </li>
          <% }else{ %>
            <a href="/users/login"> Iniciar Sesión <i class="fa-solid fa-user"></i></a>
          <% } %> 
					
				</div>
			</div>

				<div class="mobile-btn">
					<a id="menu-btn" onclick="myFunction()" class="fa fa-bars fa-2x"></a>
				</div>
			</div>
		</nav>

	<!-- Mobile Menu -->
	<div id="mobile-menu" class="mobile-menu">
		<ul class="mobile-links">
			<li class="nav-list"><a href="/products">Tienda</a></li>
			<li class="nav-list"><a href="/#reviews">Reviews</a></li>
			<li class="nav-list"><a href="/aboutus">Sobre Nosotros</a></li>
			<li class="nav-list"><a href="/cart">Carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
			<li class="nav-list"><a href="/users/login">Iniciar Sesión <i class="fa-solid fa-user"></i></a></li>
			<li class="nav-list"><a href="/products/create">Vender</a></li>
		</ul>
	</div>
</header>
