<%- include('../partials/head') %>
    <link rel="stylesheet" href="css/register.css" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Registro - Selfty Shirt</title>
  </head>


  <body>
    <%- include('../partials/header') %>

  <body>
    <main class="register">

      <div class="datos-registro">
        <div class="logo-ctn">
        <img src="images/logo.png" alt="" class="pic" />
      </div>
        <h2>Crear cuenta</h2>
        <br />
        <h3>Datos de registro:</h3>
      </div>
      <form action="/" method="POST">
        <input type="text" name="name" placeholder="Nombre" />
        <br />
        <input type="text" name="user" placeholder="Apellido" />
        <br />
        <input type="email" name="email" placeholder="Correo Electronico" />
        <br />
        <input type="password" name="pass" placeholder="Elegí tu contraseña" />
        <br />
        <input
          type="password"
          name="pass_confirm"
          placeholder="Confirmá tu contraseña"
        />
        <br />
        <br />
        <input type="submit" value="Registrarse" />
        <br />
        ¿Ya tienes una cuenta? <a href="/login" class="a_top_hypers"><span style="color: blue;">Iniciar sesión</a>
        <br />
      </form>
    </main>
<%- include('../partials/footer') %>
  </body>


</html>
